{% extends "layouts/base_user.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title%}Smart Goals | My Bucketlists{%endblock%}
{% block body %}
<h1 class="activity_description">Hello {{ session['name'] }}, these are your bucket lists</h1>
<div class="table-navs">
    <a href="/add-bucketlist" class="btn btn-primary">Add Bucketlist</a>
    <div style="float:right">
        <span class="glyphicon glyphicon-search"></span><input type="text" placeholder="Search List"/>
    </div>
</div>

{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}

{{ session['bucketlists'] }}

{{ b }}

<table class="table table-striped">
<thead>
    <tr>
        <th>#</th>
        <th>Bucketlist</th>
        <th><center>Action</center></th>
    </tr>
</thead>
<tbody>
    <tr>
        <th scope="row">1</th>
        <td><a href="/bucketlist-activities">Career</a></td>
        <td>
            <center>
                <a href="" class="btn btn-primary">Change</a>
                <a href="" class="btn btn-danger">Delete</a>
            </center>
        </td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td><a href="/bucketlist-activities">Travel</a></td>
        <td>
            <center>
                <a href="" class="btn btn-primary">Change</a>
                <a href="" class="btn btn-danger">Delete</a>
            </center>
        </td>
    </tr>
</tbody>
</table>
{% endblock %}