{% extends "layouts/base_user.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title%}Smart Goals | My Bucketlists Activities{%endblock%}
{% block body %}
<h1 class="activity_description">Activites for {{ bucketlist_info[0] }}</h1>
<h2></h2>
<div class="table-navs">
    <a href="/add-bucketlist-activity/{{ bucketlist_key }}/{{ bucketlist_info[0] }}" class="btn btn-primary">Add Activity</a>
    <div style="float:right">
        <input class="form-control" type="text" placeholder="Search List"/>
    </div>
</div>
{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}

{% if activities %}
<table class="table table-striped">
<thead>
    <tr>
        <th>#</th>
        <th>Bucketlist Activity</th>
        <th><center>To Be Done By</center></th>
        <th><center>Action</center></th>
    </tr>
</thead>
<tbody>
         {% for activity in activities %}
            <tr>
                <td>{{ loop.index }} {% set list_index = loop.index0 %}</td>
                {% for key, value in activity.items() %}
                    {% if key != bucketlist_info[0] %}
                    <td>{{ key }}, {% if value == True %}Done with this {% else %} Waiting to achieve{% endif %}</td>
                    {% else %}
                    <td><center>{{ value }}</center></td>
                    <td>
                        <center>
                            <a href="{{ list_index }}" class="btn btn-primary">Change</a>
                            <a href="{{ list_index }}" class="btn btn-danger">Delete</a>
                        </center>
                    </td>
                    {%endif%}
                {% endfor %}
        
            </tr>
        {% endfor %}
</tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
  <strong>Nothing yet!</strong> Click on the "Add Activity" to have a new bucketlist activity
</div>
{% endif %}
{% endblock %}
